
#####################
# C++ Ignore files #
#####################
*.gch
*.out

##########################
# Jetbrains Ignore files #
##########################
*.iml
.idea/
cmake-build-debug/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Struct
Makefile
build/install_manifest.txt
